{{ 'section-block-style.css' | asset_url | stylesheet_tag }}

<div class="custom-text-section">
    <h2> {{ section.settings.custom_text_title }} </h2>
</div>
  
{% for block in section.blocks %}
  {% if block.settings.img != nil %}
    <h2> {{ block.settings.custom_text_def }} </h2>
    <div>{{ block.settings.custom_text_texte }}</div>
    <a href="{{ block.settings.link }}" class="bouton">{{ block.settings.linktext }}</a>
    <img src="{{ block.settings.img | img_url: '600x' }}" loading="lazy">    
  {% endif %}
{% endfor %}
 
{% schema %}
{
    "name": "Def-inov",
    "settings": [
        {
            "id": "def",
            "type": "text",
            "label": "Titre",
            "default": "Entrer le titre"
        }
    ],
    "blocks": [ 
        {
            "name": "text img",
            "type": "image",
            "settings": [
                {
                    "id": "def",
                    "type": "text",
                    "label": "Titre",
                    "default": "Entrer le titre"
                },
                {
                    "id": "texte",
                    "type": "richtext",
                    "label": "Texte",
                    "default": "<p>Entrer le texte</p>"
                },
                {
                    "id": "texte",
                    "type": "richtext",
                    "label": "Texte",
                    "default": "<p>Entrer le texte</p>"
                },
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                }               
             ]
        }

    ],
    "presets": [
        {
            "name": "def",
            "category": "Custom"
        }
    ]
}
{% endschema %}