<div class="custom-text-section">
    <h2> {{ section.settings.custom_text_title }} </h2>
</div>
  
{% for block in section.blocks %}
  {% if block.settings.img != nil %}
    <h2> {{ block.settings.custom_text_title }} </h2>
    <div>{{ block.settings.custom_text_body }}</div>
    <!--<a href="{{ section.settings.link }}" class="bouton">{{ section.settings.linktext }}</a>-->
    <a href="{{ section.settings.link }}"></a>
    <img src="{{ block.settings.img | img_url: '600x' }}" loading="lazy">    
  {% endif %}
{% endfor %}
  
  {% schema %}
    {
        "name": "my titre et image",
        "settings": [
            {
                "id": "custom_text_title",
                "type": "text",
                "label": "Titre",
                "default": "Entrer le titre"
            }
        ],
        "blocks": [ 
            {
                "name": "text img",
                "type": "image",
                "settings": [
                    {
                        "id": "custom_text_title",
                        "type": "text",
                        "label": "Titre",
                        "default": "Entrer le titre"
                    },
                    {
                        "id": "custom_text_body",
                        "type": "richtext",
                        "label": "Texte",
                        "default": "<p>Entrer le texte</p>"
                    },
                    {
                        "type": "image_picker",
                        "id": "img",
                        "label": "Image"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Bouton"
                    }  
                 ]
            }
  
        ],
        "presets": [
            {
                "name": "my titre et image",
                "category": "Custom"
            }
        ]
    }
  {% endschema %}