<div class="productListHome velaProducts" style="background-color: {{section.settings.color_bg }};
                                     {% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}">
    <div class="container{% if section.settings.full_with %}-full{% endif %}">
        {%- if section.settings.title != blank -%}
            <h3 class="velaHomeTitle velaTitle text-center pd-list">
                {{ section.settings.title }}
            </h3>
        {%- endif -%}

        {%- if section.settings.sub-title != blank -%}
        <p class=" text-center pd-list-stlt">
            {{ section.settings.sub-title }}
        </p>
        {%- endif -%}

        {%- if section.settings.sub-title != blank -%}
        <img src="{{section.settings.why-img}}" alt="">
        {%- endif -%}
    </div>
</div>

{% schema %}
    {
        "name": "why intro",
        "class": "why-intro",
        "settings":[
            
            {
                "type": "checkbox",
                "id": "full_with",
                "label": "Enabel Full Width?"
            },           
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "placeholder": "Heading"
            },
            {
                "type": "text",
                "id": "sub-title",
                "label": "Sub Heading",
                "placeholder": "Sub Heading"
            },
            {
                "type": "image_picker",
                "id": "why-img",
                "label": "why images"

            }
             
        ],
        "presets": [
            {
                "name": "Why intro ",
                "category": "CTA"
                 
            }
        ]
    }
{% endschema %}